{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "css"}}
<link rel="stylesheet" href="/static/css/home.css" />
{{end}}
{{define "content"}} 
  <div class="container">
    <div class="row">
        <div class="col">
            <h1>Esse é o esquema</h1>
            <p>Esse o para grafo mano</p>
            <p>{{index .StringMap "test"}}</p>
            <img src="/static/images/outside.png " alt="Imagem de fora" />
        </div>
    </div>
  </div> 
{{end}}